.login-form-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--indigo-500);
}

.login-form {
    max-width: 400px; 
    width: 80%;
    padding: 30px;
    display: grid;
    gap: 20px;
}

.login-form span {
    padding-right:20px;
}

.form-group {
    text-align: center;
}
  
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}