@charset "utf-8";
@import 'primereact/resources/themes/luna-green/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

:root {
  --warning-color: #ffb74d;
}


